# Pre-commit hooks configuration for PlanifyAI
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-json
        exclude: ^\.vscode/settings\.json$  # VSCode settings.json uses JSONC (comments allowed)
      - id: check-merge-conflict
      - id: check-case-conflict

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=100']

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=100']

  # Python linting (lighter than pylint for pre-commit)
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        exclude: ^examples/
        args:
          - '--max-line-length=100'
          - '--extend-ignore=E203,W503,E402,D,I'  # Ignore E402 for benchmark/script files that need sys.path
